/composer.phar

/src/public/*
!/src/public/index.php
!/src/public/.htaccess
!/src/public/web.config
!/src/public/robots
!/src/public/mix-manifest.json

/src/composer.phar
/src/node_modules
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
/src/.env
/src/.env.backup
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log

/nginx/default.conf


.env
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

ściąga.txt
